<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Kenney UI Sample</string>
	<key>CFBundleExecutable</key>
	<string>dragonruby-kenneyui-sample</string>
	<key>CFBundleIconFile</key>
	<string>dragonruby-kenneyui-sample.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.dragonruby.danhealy.dragonruby-kenneyui-sample</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>dragonruby-kenneyui-sample</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
	<string>MacOSX</string>
	</array>
</dict>
</plist>
